.main {
  display: flex;
  flex-direction: column;
  color: mediumblue;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
